# Node and related ecosystem
# ==========================
dist/
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
coverage-unit/
.coveralls.yml
reports/
# Ignore npm's lock since we're using YARN
package-lock.json